
name: 'CI'

on: [pull_request]

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create identifier for PR
        run: |
          echo ${{ github.ref }}
          echo ${{ github.head_ref }}
          echo ${{ github.ref_name }}
          echo "TAG=$(echo ${{ github.ref }} | sha1sum | cut -c -10)" >> $GITHUB_ENV

      - name: Build and push image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: camer0/nico:${{ env.TAG }}
          context: .
          build-args: |
            CRYPT64=${{ secrets.CRYPT64 }}
          cache-from: type=registry,ref=camer0/nico:buildcache
          cache-to: type=registry,ref=camer0/nico:buildcache,mode=max
          file: .docker/image.dockerfile
